@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background :url(./assets/chat-app-bg.png) no-repeat center fixed;
    background-size: cover;
}

@keyframes jump {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .jump {
    animation: jump 0.5s ease-in-out;
  }
  